:root {
  --theme-name: "Carbonfox";
  --theme-mode: dark;
  --bg: #161616;
  --fg: #f2f4f8;
  --cursor: #78a9ff;
  --selection: #2a2a2a;
  --comment: #6f6f6f;
  --black: #262626;
  --red: #ee5396;
  --green: #25be6a;
  --yellow: #08bdba;
  --blue: #78a9ff;
  --magenta: #be95ff;
  --cyan: #33b1ff;
  --white: #dde1e6;
  --accent: #ff7eb6;
}

body {
  background: var(--bg);
  color: var(--fg);
  caret-color: var(--cursor);
  selection: var(--selection);
}
