:root {
  --theme-name: "Flexoki Dark";
  --theme-mode: dark;
  --bg: #100f0f;
  --fg: #cecdc3;
  --cursor: #cecdc3;
  --selection: #282726;
  --comment: #878580;
  --black: #1c1b1a;
  --red: #d14d41;
  --green: #879a39;
  --yellow: #d0a215;
  --blue: #4385be;
  --magenta: #ce5d97;
  --cyan: #3aa99f;
  --white: #cecdc3;
  --accent: #4385be;
}

body {
  background: var(--bg);
  color: var(--fg);
  caret-color: var(--cursor);
  selection: var(--selection);
}
