:root {
  --theme-name: "Selenized Dark";
  --theme-mode: dark;
  --bg: #103c48;
  --fg: #adbcbc;
  --cursor: #cad8d9;
  --selection: #184956;
  --comment: #72898f;
  --black: #184956;
  --red: #fa5750;
  --green: #75b938;
  --yellow: #dbb32d;
  --blue: #4695f7;
  --magenta: #f275be;
  --cyan: #41c7b9;
  --white: #adbcbc;
  --accent: #4695f7;
}

body {
  background: var(--bg);
  color: var(--fg);
  caret-color: var(--cursor);
  selection: var(--selection);
}
